<div id="contenido">
  <div class="contenido-centrado">
    <span class="titulo_producto font2">NUESTRO PRODUCTO</span>

    <div class="explicacion_producto font2">
      <span>Sensores de calidad del aire con <span class="subrayado">plataforma Sani-Ki</span> de monitorización.</span>
    </div>

    <div class="ventajas-producto font2">
      <span>Sostenibilidad, digitalización, eficiencia energética, diseño... todo a tu alcance para mejorar tu vida.</span>
    </div>

    <div class="imagenes-kate">

      <div class="kate-monitor" data-aos="fade-right" data-aos-duration="1000">
        <img src="assets/moni.jpg" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Sensores</span>
        </div>

        <div class="explicacion font2">
          <span>Sensor IOT con tecnología NDIR capaz de registrar la calidad del aire en un espacio cerrado de hasta 30m2.</span>
        </div>

      </div>

      <span class="example-spacer"></span>

      <div class="kate-monitor" id="platform" data-aos="fade-left" data-aos-duration="1000">
        <img src="assets/moni.jpg" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Sani-Ki Platform</span>
        </div>

        <div class="explicacion font2">
          <span>Plataforma conectada con todos los sensores de su organización con tecnologia WEB segura, en tiempo real y app móvil.</span>
        </div>

      </div>

    </div>

  </div>

</div>

