<div id="contenido">
  <div class="contenido-centrado">
    <span class="titulo_producto font3">NUESTRO PRODUCTO</span>

    <div class="explicacion_producto font2">
      <span>Sensores de calidad del aire con plataforma Kate de monitorización.</span>
    </div>

    <div class="ventajas-producto font2">
      <span>Sostenibilidad, digitalización, eficiencia energética, diseño... todo a tu alcance para mejorar tu vida.</span>
    </div>

    <div class="imagenes-kate">

      <div class="kate-monitor">
        <img src="assets/moni.jpg" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Sensores de calidad del aire</span>
        </div>

        <div class="kate-monitor explicacion font2">
          <span>Sensor IOT profesional con tecnología NDIR capaz de registrar la calidad del aire en un espacio cerrado de hasta 30m2.</span>
        </div>

      </div>

      <span class="example-spacer"></span>

      <div class="kate-monitor">
        <img src="assets/mapkate.png" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Kate Platform</span>
        </div>

        <div class="kate-monitor explicacion font2">
          <span>Plataforma conectada con todos los sensores de su organización con tecnologia WEB segura, en tiempo real y app móvil.</span>
        </div>

      </div>

    </div>

  </div>

</div>

