html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#contenido {
  width: 1000px auto;
  margin: 0 auto;
  margin-top: 0%;
}

.contenido-centrado {
  text-align: center;
}

.titulo_producto {
  font-size: 18px;
  font-weight: 900;
  color: #000000;
}

.explicacion_producto {
  margin-top: 30px;
  font-size: 33px;
  font-weight: 900;
}

.ventajas-producto {
  margin-top: 1%;
  font-size: 22px;
  font-weight: 300;
  color: #000000;
}

.imagenes-kate {
  margin: 3% 12% 0 12%;
  display: flex;
}

.imagen {
  height: 200px;
}

.kate-monitor {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 50px 40px;
  border-radius: 10px;
  position: static;
  display: block;
}

.example-spacer {
  flex: 1;
}

.sensor-explicacion {
  margin-top: 6%;
  font-size: 23px;
  color: #000000;
  font-weight: 700;
  line-height: 40px;
}

.explicacion {
  margin-top: 5%;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  color: #000000;
}

.btn-descubrir {
margin-top: 5%;
}

@media screen and (max-width: 1400px) {
  #contenido {
    margin: 0px 20px 0 20px;
  }

  .titulo_producto {
    font-size: 18px;
  }

  .explicacion_producto {
    font-size: 27px;
  }

  .ventajas-producto {
    font-size: 20px;
  }

  .imagenes-kate {
    margin: 3% 10% 0 10%;
  }

  .imagen {
    height: 150px;
  }

  .sensor-explicacion {
    font-size: 24px;
    line-height: 30px;
  }

  .kate-monitor .explicacion {
    font-size: 18px;
    line-height: 30px;
  }

}

@media screen and (max-width: 1050px) {

  #contenido {
    margin: 0 3% 0 3%;
  }

  .titulo_producto {
    font-size: 18px;
  }

  .explicacion_producto {
    font-size: 27px;
    margin-top: 2%;
  }

  .ventajas-producto {
    font-size: 20px;
    margin-top: 2%;
  }

  .imagenes-kate {
    margin: 5% 10% 0 10%;
  }

  .imagen {
    height: 130px;
  }

  .sensor-explicacion {
    font-size: 24px;
    line-height: 30px;
  }

}

@media screen and (max-width: 850px) {

  #contenido {
    margin: 0 3% 0 3%;
  }

  .titulo_producto {
    font-size: 18px;
  }

  .explicacion_producto {
    font-size: 23px;
    margin-top: 2%;
  }

  .ventajas-producto {
    font-size: 17px;
    margin-top: 2%;
  }

  .imagenes-kate {
    margin: 5% 25% 0 25%;
  }

  .imagen {
    height: 130px;
  }

  .sensor-explicacion {
    font-size: 24px;
    line-height: 30px;
  }

  .imagenes-kate {
    flex-direction: column;
  }

  .kate-monitor {
    padding: 50px 60px 50px 60px;
  }

  #platform {
    margin-top: 20%;
  }

}

@media screen and (max-width: 650px) {

  #contenido {
    margin: 0 3% 0 3%;
  }

  .titulo_producto {
    font-size: 14px;
  }

  .explicacion_producto {
    font-size: 18px;
    margin-top: 2%;
  }

  .ventajas-producto {
    font-size: 15px;
    margin-top: 2%;
  }

  .imagenes-kate {
    margin: 5% 15% 0 15%;
  }

  .imagen {
    height: 130px;
  }

  .sensor-explicacion {
    font-size: 20px;
    line-height: 30px;
  }

  .imagenes-kate {
    flex-direction: column;
  }

  .kate-monitor {
    padding: 50px 60px 50px 60px;
  }

  #platform {
    margin-top: 20%;
  }

}


@media screen and (max-width: 450px) {

  #contenido {
    margin: 0 1% 0 1%;
  }

  .titulo_producto {
    font-size: 14px;
  }

  .explicacion_producto {
    font-size: 18px;
    margin-top: 2%;
  }

  .ventajas-producto {
    font-size: 15px;
    margin-top: 2%;
  }

  .imagenes-kate {
    margin: 5% 23% 0 23%;
  }

  .imagen {
    height: 130px;
  }

  .sensor-explicacion {
    font-size: 20px;
    line-height: 30px;
  }

  .explicacion {
    margin-top: 5%;
    text-align: justify;
    font-size: 1px;
    line-height: 20px;
    font-weight: 300;
    color: #000000;
  }

  .imagenes-kate {
    flex-direction: column;
  }

  .kate-monitor {
    padding: 30px 40px 30px 40px;
  }

  #platform {
    margin-top: 20%;
  }

}
