<div id="contenido">
  <div class="contenido-centrado">
    <span class="titulo_producto font2">NUESTROS PRODUCTOS</span>

    <div class="explicacion_producto font2">
      <span>Sensores de calidad del aire con <span class="subrayado">plataforma Sani-Ki</span> de monitorización.</span>
    </div>

    <div class="ventajas-producto font2">
      <span>Sostenibilidad, digitalización, eficiencia energética, diseño... todo a tu alcance para mejorar tu vida.</span>
    </div>

    <div class="imagenes-kate">

      <div class="kate-monitor" data-aos="fade-left" data-aos-duration="1000">
        <img src="assets/moni.png" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Sensor CO2</span>
        </div>

        <div class="explicacion font2">
          <span>Medidor de concentración de Co2 con monitor de temperatura/humedad.</span>
        </div>

        <div class="btn-descubrir">
          <a mat-flat-button class="btn-degradado font2" href="https://sani-ki.es/inicio/330-monitor-de-co2-temp-y-humedad-con-wi-fi-app-y-bateria.html" target="_blank">DESCUBRE PRO2</a>
        </div>

      </div>

      <span class="example-spacer"></span>

      <div class="kate-monitor" id="platform" data-aos="fade-left" data-aos-duration="1000">
        <img src="assets/eteria-white.png" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Eteria</span>
        </div>

        <div class="explicacion font2">
          <span>Sistema modular e inteligente para monitorizar y purificar el aire interior.</span>
        </div>

        <div class="btn-descubrir">
          <a mat-flat-button class="btn-degradado font2" href="https://sani-ki.es/desinfeccion-de-ambientes/310-eteria-purificador-de-aire-.html" target="_blank">DESCUBRE ETERIA</a>
        </div>

      </div>

      <span class="example-spacer"></span>

      <div class="kate-monitor" id="platform" data-aos="fade-left" data-aos-duration="1000">
        <img src="assets/natede.png" class="imagen">

        <div class="sensor-explicacion font2">
          <span >Natede</span>
        </div>

        <div class="explicacion font2">
          <span>Purificador de aire natural y monitor de aire interior. NAtura, TEcnologí y DEsign.</span>
        </div>

        <div class="btn-descubrir">
          <a mat-flat-button class="btn-degradado font2" href="https://sani-ki.es/inicio/196-natede-purificador-de-aire-natural.html" target="_blank">DESCUBRE NATEDE</a>
        </div>

      </div>

    </div>

  </div>

</div>

