<span class="titulo_producto font2">CALIDAD DEL AIRE</span>
<div id="contenido">
  <div class="explicacion-calidad-aire">
    <img src="assets/familia.jpg" class="fondo">
    <span class="example-spacer1"></span>
    <div class="texto font2">
      <span>
        La calidad del aire es algo esencial hoy en día en nuestras vidas.<br><br> Cuando el aire está muy
        contaminado <span class="texto2">se pueden producir irritaciones oculares, problemas respiratorios e incluso cardíacos.</span><br><br>
        Por ello debemos de <span class="texto2">tener muy en cuenta la calidad del aire que tenemos</span> para nosotros y para el resto,
        respetando el medioambiente general y de nuestros espacios, liberándonos de enfermedades respiratorias innecesarias.
      </span>
    </div>
  </div>

  <div class="contenido-centrado">
    <div class="beneficios">
      <h1>¿Qué <span class="subrayado">beneficios</span> obtienes al cuidar la calidad del aire?</h1>
      <div class="imagenes-kate">
        <div class="imagenes-kate columna1" data-aos="fade-down" data-aos-duration="500">
          <div class="linea1" >
            <img src="assets/icons/aire.png">

            <div class="sensor-explicacion font2">
              <span >El aire que respiras será mejor.</span>
            </div>
          </div>

          <span class="example-spacer"></span>

          <div class="linea1">
            <img src="assets/icons/latido-del-corazon.png">

            <div class="sensor-explicacion font2">
              <span >Evita riesgos para tu salud.</span>
            </div>
          </div>

          <span class="example-spacer"></span>

          <div class="linea1" >
            <img src="assets/icons/multitud.png">

            <div class="sensor-explicacion font2">
              <span >Control de aforo.</span>
            </div>
          </div>
        </div>

        <div class="imagenes-kate columna2" data-aos="fade-down" data-aos-duration="500">
          <div class="linea2">
            <img src="assets/icons/contaminacion-atmosferica.png">

            <div class="sensor-explicacion font2">
              <span >Detecta qué es lo que contamina tu aire.</span>
            </div>
          </div>

          <span class="example-spacer"></span>

          <div class="linea2">
            <img src="assets/icons/ventilacion.png">

            <div class="sensor-explicacion font2">
              <span >Modifica la ventilación y climatización según tus necesidades.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="empeora">
    <h1 class="titulo">¿Qué <span class="subrayado">empeora</span> la calidad de nuestro aire?</h1>
    <span class="empeora-calidad font2">
      La <span class="texto2">contaminación atmosférica</span> es la presencia en el aire de materias o formas de energía que <span class="texto2">implican riesgo,
        daño o molestia grave para las personas,</span> reducir la visibilidad o producir olores desagradables y enfermedades.
    </span>
    <div class="gases-contaminantes">
      <div class="col1 font2">
        <button mat-button disabled><img src="assets/icons/right.png" height="24px"> Dióxido de carbono (CO2).</button><br><br>
        <button mat-button disabled><img src="assets/icons/right.png" height="24px"> Particulas en suspensión (PM10).</button><br><br>
        <button mat-button disabled><img src="assets/icons/right.png" height="24px"> Partículas en suspensión (PM2,5).</button><br><br>
      </div>
      <span class="example-spacer"></span>
      <div class="col2 font2">
        <button mat-button disabled><img src="assets/icons/right.png" height="24px"> Ozono atmosférico (O3).</button><br><br>
        <button mat-button disabled><img src="assets/icons/right.png" height="24px"> Dióxido de nitrógeno (NO3).</button><br><br>
        <button mat-button disabled><img src="assets/icons/right.png" height="24px"> Dióxido de azufre (SO3).</button><br><br>
      </div>
    </div>
  </div>
</div>
