html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.titulo_producto {
  font-size: 30px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:6%;
  margin-bottom: 5%;
}

#contenido {
  margin: 5% 7% 0 7%;
}

.contenido-centrado {
  text-align: center;
}

.imagenes-kate {
  margin: 3% 5% 0 5%;
}

.imagenes-kate .columna2 {
  margin: 3% 22% 0 22%;
}

.sensor-explicacion {
  margin-top: 10%;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.kate-explicacion {
  margin-top: 7%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.imagenes-kate .columna1 {
  display: flex;
  margin-bottom: 6%;
}

.linea1 {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
}

.imagenes-kate .columna2 {
  display: flex;
  margin-bottom: 3%;
}

.linea2 {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
}

.explicacion-calidad-aire {
  position: static;
  display: flex;
  margin: 0 4% 10% 4%;
}

.example-spacer1 {
  margin: 0 7% 0 12%;
}

.example-spacer {
  flex: 1;
}

.texto {
  flex: 1;
  font-size: 22px;
  line-height: 35px;
  font-weight: 300;
  color: #000000;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

.texto2{
  font-weight: 900;
}

.fondo {
  height: 400px;
}

.beneficios {
  margin-bottom: 10%;
}

.beneficios > h1 {
  font-family: 'Josefin Sans';
  font-size: 30px;
  margin-bottom: 5%;
  font-weight: 900;
}

.empeora{
  text-align: center;
  margin: 0 10% 10% 10%;
}

.empeora-calidad {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

.empeora > h1 {
  font-family: 'Josefin Sans';
  font-size: 30px;
  margin-bottom: 1%;
  font-weight: 900;
}

.gases-contaminantes {
  display: flex;
  margin-top: 5%;
}

.col1 {
  text-align: left;
  align-items: center;
  justify-content: center;
  line-height: 35px;
}

.col2 {
  text-align: left;
  align-items: center;
  justify-content: center;
  line-height: 35px;
}

.col1 > button {
  transition: all 0.5s;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;

}

.col1 > button:hover {
  transform: translateX(3px);
  background-color: transparent;
}

.col2 > button {
  transition: all 0.5s;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 27px;

}

.col2 > button:hover {
  transform: translateX(3px);
  background-color: transparent;
}

@media screen and (max-width: 1400px) {

  .titulo_producto {
    font-size: 25px;
    font-weight: 900;
    margin-top:6%;
    margin-bottom: 6%;
  }

  #contenido {
    margin: 5% 3% 0 3%;
  }

  .explicacion-calidad-aire {
    position: static;
    display: flex;
    margin: 0% 0% 10% 4%;
  }

  .example-spacer1 {
    margin: 0 2% 0 7%;
  }

  .fondo {
    height: 350px;
  }

  .texto {
    font-size: 20px;
  }

  .imagenes-kate {
    margin: 3% 2% 0 2%;
  }

  .imagenes-kate .columna2 {
    margin: 3% 20% 0 20%;
  }

  .sensor-explicacion {
    margin-top: 10%;
    font-size: 17px;
    color: #000000;
    font-weight: 700;
  }

  .empeora{
    text-align: center;
    margin: 0 5% 7% 5%;
  }

  .empeora-calidad {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
  }

  .col1 {
    text-align: left;
    line-height: 30px;
  }

  .col2 {
    text-align: left;
    line-height: 30px;
  }

  .col1 > button {
    font-size: 24px;
  }

  .col2 > button {
    font-size: 24px;
  }
}

@media screen and (max-width: 1050px) {

  .titulo_producto {
    font-size: 23px;
    font-weight: 900;
    margin-top:8%;
    margin-bottom: 8%;
  }

  #contenido {
    margin: 5% 3% 0 3%;
  }

  .explicacion-calidad-aire {
    position: static;
    display: flex;
    flex-direction: column;
    margin: 0% 0% 10% 0%;
  }

  .contenido-imagen {
    flex: 1;
    text-align: center;
    margin-bottom: 5%;
  }

  .fondo {
    height: 450px;
  }

  .example-spacer1 {
    flex: 1;
  }

  .texto {
    flex: 1;
    font-size: 20px;
    margin: 0 10% 0 10%;
    padding-right: 0px;
  }

  .imagenes-kate {
    margin: 3% 2% 0 2%;
  }

  .imagenes-kate .columna2 {
    margin: 3% 20% 0 20%;
  }

  .sensor-explicacion {
    margin-top: 10%;
    font-size: 17px;
    color: #000000;
    font-weight: 700;
  }

  .empeora{
    text-align: center;
    margin: 0 5% 7% 5%;
  }

  .empeora-calidad {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
  }

  .col1 {
    text-align: left;
    line-height: 30px;
  }

  .col2 {
    text-align: left;
    line-height: 30px;
  }

  .col1 > button {
    font-size: 24px;
  }

  .col2 > button {
    font-size: 24px;
  }
}

@media screen and (max-width: 850px) {

  .titulo_producto {
    font-size: 20px;
    font-weight: 900;
    margin-top:8%;
    margin-bottom: 8%;
  }

  #contenido {
    margin: 5% 2% 0 2%;
  }

  .contenido-imagen {
    flex: 1;
    text-align: center;
    margin-bottom: 5%;
  }

  .beneficios > h1 {
    font-size: 25px;
    margin-bottom: 5%;
    font-weight: 900;
  }

  .imagenes-kate {
    margin: 3% 2% 0 2%;
  }

  .imagenes-kate .columna1 {
    flex-direction: column;
    margin: 3% 25% 0 25%;
  }

  .imagenes-kate .columna2 {
    margin: 3% 25% 0 25%;
    flex-direction: column;
  }

  .linea1 {
    margin-bottom: 10%;
  }

  .linea2 {
    margin-bottom: 10%;
  }

  .sensor-explicacion {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 700;
  }

  .empeora{
    text-align: center;
    margin: 0 2% 7% 2%;
  }

  .empeora > h1 {
    font-family: 'Josefin Sans';
    font-size: 25px;
    margin-bottom: 1%;
    font-weight: 900;
  }

  .empeora-calidad {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }

  .gases-contaminantes {
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 0;
  }

  .col1 {
    display: block;
    align-items: flex-start;
    justify-content: left;
    line-height: 27px;
  }

  .flexeado {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
  }

  .col2 {
    display: block;
    line-height: 27px;
  }

  .col1 > button {
    font-size: 22px;
  }

  .col2 > button {
    font-size: 22px;
  }
}

@media screen and (max-width: 650px) {

  .titulo_producto {
    font-size: 20px;
    font-weight: 900;
    margin-top:10%;
    margin-bottom: 10%;
  }

  #contenido {
    margin: 5% 2% 0 2%;
  }

  .contenido-imagen {
    flex: 1;
    text-align: center;
    margin-bottom: 5%;
  }

  .fondo {
    width: 90%;
    height: 250px;
  }

  .beneficios > h1 {
    font-size: 25px;
    margin-bottom: 5%;
    font-weight: 900;
  }

  .imagenes-kate {
    margin: 3% 2% 0 2%;
  }

  .imagenes-kate .columna1 {
    flex-direction: column;
    margin: 3% 25% 0 25%;
  }

  .imagenes-kate .columna2 {
    margin: 3% 25% 0 25%;
    flex-direction: column;
  }

  .linea1 {
    margin-bottom: 10%;
  }

  .linea2 {
    margin-bottom: 10%;
  }

  .sensor-explicacion {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 700;
  }

  .empeora{
    text-align: center;
    margin: 0 2% 7% 2%;
  }

  .empeora > h1 {
    font-family: 'Josefin Sans';
    font-size: 25px;
    margin-bottom: 1%;
    font-weight: 900;
  }

  .empeora-calidad {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }

  .gases-contaminantes {
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 0;
  }

  .col1 {
    display: block;
    align-items: flex-start;
    justify-content: left;
    line-height: 27px;
  }

  .flexeado {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
  }

  .col2 {
    display: block;
    line-height: 27px;
  }

  .col1 > button {
    font-size: 22px;
  }

  .col2 > button {
    font-size: 22px;
  }
}
