<div id="contenido">

  <div class="explicacion-calidad-aire">
    <span class="explicacion-calidad-aire texto font2">
      La calidad del aire, es la cantidad de contaminantes presentes en el aire. Cuando la calidad del aire es buena (tiene pocos contaminantes).
      Puedo respirarlo indefinidamente sin que su salud se vea afectada.
      Cuando es mala pueden darse irritaciones oculares, problemas respiratorios e incluso cardíacos.
    </span>
    <span class="example-spacer"></span>
    <div class="contenido-centrado">
      <img src="assets/interior.png" class="imagen">
    </div>
  </div>

  <div class="beneficios">
    <h1>¿Qué beneficios obtienes al cuidar la calidad del aire?</h1>
    <div class="beneficios-calidad-aire">
        <div>
          <ul class="lista-beneficios font2">
            <li>
              El aire que respiras será mejor.
            </li>
            <li>
              Evita riesgos para tu salud.
            </li>
            <li>
              Control de aforo.
            </li>
            <li>
              Detecta qué es lo que contamina tu aire.
            </li>
            <li>
              Establece y modifica la ventilación y climatización según las necesidades.
            </li>
          </ul>
        </div>
      <span class="example-spacer2"></span>
      <div class="contenido-centrado">
        <img src="assets/respirabien.png" class="imagen2">
      </div>
    </div>
  </div>

  <div class="empeora">
    <h1>¿Qué lo empeora?</h1>
    <span class="empeora-calidad font2">
      La contaminación atmosférica es la presencia en el aire de materias o formas de energía que implican riesgo,
      daño o molestia grave para las personas, reducir la visibilidad o producir olores desagradables y enfermedades.
    </span>
    <div class="empeora-calidad-aire">
        <div>
          <ul class="lista-beneficios font2">
            <li>
              Dióxido de carbono (CO2).
            </li>
            <li>
              Partículas en suspensión (PM10).
            </li>
            <li>
              Partículas en suspensión (PM2,5).
            </li>
            <li>
              Ozono troposférico (O3).
            </li>
            <li>
              Dióxido de nitrógeno (NO2).
            </li>
            <li>
              Dióxido de azufre (SO2).
            </li>
          </ul>
        </div>
      <span class="example-spacer3"></span>
      <div class="contenido-centrado">
        <img src="assets/habitacion.png" class="imagen3">
      </div>
    </div>
  </div>
</div>
