html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.titulo_producto {
  font-size: 30px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:6%;
  margin-bottom: 5%;
}

#contenido {
  margin: 5% 7% 0 7%;
}

.contenido-centrado {
  text-align: center;
}

.subrayado {
  background-image: linear-gradient(120deg, rgba(100, 205, 216, 0.5) 0%, rgba(108, 208, 186, 0.5) 100%);
  background-repeat: no-repeat;
  background-size: 100% 88%;
  background-position: 0 88%;
}

.imagenes-kate {
  margin: 3% 5% 0 5%;
}

.imagenes-kate .columna2 {
  margin: 3% 22% 0 22%;
}

.sensor-explicacion {
  margin-top: 10%;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.kate-explicacion {
  margin-top: 7%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.imagenes-kate .columna1 {
  display: flex;
  margin-bottom: 6%;
}

.linea1 {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
}

.imagenes-kate .columna2 {
  display: flex;
  margin-bottom: 3%;
}

.linea2 {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
}

.example-spacer {
  flex: 1;
}

.explicacion-calidad-aire {
  position: static;
  display: flex;
  margin: 0 4% 10% 4%;
}

.example-spacer1 {
  margin: 0 7% 0 12%;
}

.texto {
  font-size: 22px;
  line-height: 35px;
  font-weight: 300;
  color: #2b2e4d;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

.texto2{
  font-weight: 900;
}

.fondo {
  height: 400px;
}

.beneficios {
  margin-bottom: 10%;
}

.beneficios > h1 {
  font-family: 'Josefin Sans';
  font-size: 30px;
  margin-bottom: 5%;
  font-weight: 900;
}

.empeora{
  text-align: center;
  margin: 0 10% 10% 10%;
}

.empeora-calidad {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

.empeora > h1 {
  font-family: 'Josefin Sans';
  font-size: 30px;
  margin-bottom: 1%;
  font-weight: 900;
}

.gases-contaminantes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 10% 0 10%;
  font-size: 27px;
}

.col1 {
  text-align: left;
  line-height: 35px;
}

.col2 {
  text-align: left;
  line-height: 35px;
}
