<div class="contenido-centrado">
  <img src="assets/contactanos.png" class="img_logo"/>
  <div class="interiores font2" data-aos="fade-right"
                                data-aos-duration="1500">
    <span>Contacte con <span class="subrayado">nosotros</span> a través de<br>un <span class="subrayado">servicio de calidad.</span></span>
  </div>
</div>

<span class="titulo_producto font2">CONTACTO</span>

<div class="contenido-form">
  <div class="form1">
    <form>
      <div class="contenido-grupo">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="contenido-grupo">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Apellidos</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="contenido-grupo">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com">
        </mat-form-field>
      </div>
      <div class="contenido-grupo">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Teléfono</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </form>
  </div>
  
  <span class="example-spacer"></span>

  <div class="form2">
    <form>
      <div class="contenido-grupo">
        <mat-form-field appearance="outline"  style="font-family: Josefin Sans;">
          <mat-label>Mensaje</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>

<div class="contacto">
  <button mat-button class="btn-contacto font2">CONTACTAR</button>
</div>

<div class="contenido-mapa">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>


