<div class="segunda-toolbar">
  <button mat-flat-button class="btn_tool" id="inicio-button" aria-label="Example icon-button with heart icon">
    <span class="inicio_class font2" routerLink="/inicio">Inicio</span>
  </button>
  <span class="example-spacer"></span>

  <button mat-flat-button class="btn_tool" aria-label="Example icon-button with heart icon">
    <span class="inicio_class font2" routerLink="/calidad-aire">Calidad del aire</span>
  </button>
  <span class="example-spacer"></span>

  <button mat-flat-button class="btn_tool" routerLink="/ubicanos">
    <span class="inicio_class font2">Contáctanos</span>
  </button>
  <span class="example-spacer"></span>

  <button mat-flat-button class="btn_tool" id="login-button" (click)="openLoginDialog()">
    <span class="inicio_class font2">
      Inicio sesión<mat-icon>person</mat-icon>
    </span>
  </button>
</div>

<h1>¿Dónde Estamos?</h1>
<div id="contenido-centrado">
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>


