html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.contenido-centrado {
  display: flex;
  justify-content: center;
  width: 100%;
}

.interiores {
  position: absolute;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: 0.74px;
  color: #000000;
  margin-top: 17%;
}

.img_logo {
  width: 100%;
  height: 750px;
  -webkit-box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.5);
  box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.5);
}


.titulo_producto {
  font-size: 30px;
  font-weight: 900;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:6%;
}

mat-form-field {
  width: 300px;
}
.mat-form-field-label{
  color: rgb(0, 0, 0);
}

.contenido-form {
  display: flex;
  margin: 5% 30% 0 30%;
}
.example-spacer {
  flex: 1;
}

.form1 {
  display: block;
}

.contenido-grupo {
  margin-bottom: 5%;
}

::placeholder {
  color: rgba(0, 0, 0, 0.604);
}

input {
  color: rgb(0, 0, 0);
}

.form-mensaje {
  width: 300px;
}

.contacto {
  margin-top: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-contacto {
  width: 500px;
  height: 50px;
  background-image: linear-gradient(120deg, rgb(255, 242, 0) 0%, rgb(255, 145, 0) 100%);
  font-weight: 600;
  font-size: 15px;
}

.contenido-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  margin-top: 5%;
}

.map-container {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 60px;
  }

  #contenido-centrado {
    width: 100%;
    height: 85%;
  }

  .map-container {
    top: 5%;
    margin: 18% 0% 0% 0%;
  }
}

@media screen and (max-width: 1050px) {

  h1 {
    font-size: 60px;
    margin-top: 6%;
  }

  #contenido-centrado {
    width: 100%;
    height: 85%;
  }

  .map-container {
    margin: 22% 0% 0% 0%;
  }
}

@media screen and (max-width: 850px) {
  .segunda-toolbar {
    visibility: hidden;
  }

  h1 {
    font-size: 60px;
    margin-top: 5%;
  }

  #contenido-centrado {
    width: 100%;
    height: 85%;
  }

  .map-container {
    margin: 25% 0% 0% 0%;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 50px;
    margin-top: 5%;
  }

  #contenido-centrado {
    width: 100%;
    height: 85%;
  }

  .map-container {
    margin: 35% 0% 0% 0%;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 50px;
    margin-top: 5%;
  }

  #contenido-centrado {
    width: 100%;
    height: 85%;
  }

  .map-container {
    margin: 45% 0% 0% 0%;
  }

  .map-frame {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 40px;
    margin-top: 5%;
  }

  #contenido-centrado {
    width: 100%;
    height: 85%;
  }

  .map-container {
    margin: 50% 0% 0% 0%;
  }

  .map-frame {
    width: 80%;
  }
}


