html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.app_producto {
  margin-top: 150px;
  margin-bottom: 10%;
}

#contenido {
  width: 1000px auto;
}

.img_logo {
  width: 100%;
  height: 750px;
  -webkit-box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.5);
  box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.5);
}

.contenido-centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.kate-explicacion {
  margin-top: 25%;
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.74px;
  color: #000000;
  position: absolute;
}

.interiores {
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
}

.kate_platform {
  font-size: 33px;
  background-repeat: no-repeat;
  background-size: 95% 88%;
  background-position: 0 88%;
  color: #000000;
  font-weight: 900;
}

.kate_monitorea {
  margin-top: 45%;
  line-height: 60px;
  font-weight: 900;
}

@media screen and (max-width: 1400px) {

  #contenido {
    margin:  5% 3% 15% 3%;
  }

  .kate-explicacion {
    margin-top: 5%;
    font-size: 25px;
  }

  .kate_platform {
    font-size: 35px;
  }

  .kate_monitorea {
    margin-top: 35px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1050px) {
  #contenido {
    margin:  9% 3% 20% 3%;
  }

  .img_maps {
    height: 40px;
  }

  .kate-explicacion {
    margin-top: 5%;
    font-size: 23px;
    line-height: 40px;
  }

  .kate_platform {
    font-size: 30px;
  }

  .kate_monitorea {
    margin-top: 25px;
    line-height: 35px;
  }
}

@media screen and (max-width: 850px) {
  .segunda-toolbar {
    visibility: hidden;
  }
}

@media screen and (max-width: 650px) {
  #contenido {
    margin:  5% 5% 25% 5%;
  }

  .img_maps {
    height: 30px;
  }

  .kate-explicacion {
    margin-top: 10%;
    font-size: 20px;
  }

  .kate_platform {
    font-size: 25px;
  }
}

@media screen and (max-width: 420px) {
  #contenido {
    margin: 0px 20px 0 20px;
  }

  .img_logo {
    height: 120px;
    margin-top: 20%;
  }


  .kate-explicacion {
    margin-top: 15%;
  }
}
