html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.app_producto {
  margin-top: 150px;
  margin-bottom: 10%;
}

#contenido {
  width: 1000px auto;
}

.img_logo {
  width: 100%;
  height: 750px;
  -webkit-box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.5);
  box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.5);
}

.contenido-centrado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.kate-explicacion {
  text-align: center;
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 0.74px;
  color: #000000;
  position: absolute;
}

.interiores {
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
}

@media screen and (max-width: 1400px) {

.img_logo {
  width: 100%;
  height: 550px;
}

.interiores {
  font-size: 35px;
  line-height: 60px;
  font-weight: 900;
}

  .kate-explicacion {
    font-size: 25px;
  }

  .app_producto {
    margin-top: 8%;
  }
}

@media screen and (max-width: 1050px) {

  .img_logo {
    width: 100%;
    height: 500px;
  }

  .interiores {
    font-size: 30px;
    line-height: 50px;
    font-weight: 900;
  }

  .kate-explicacion {
    font-size: 22px;
  }
}

@media screen and (max-width: 850px) {
  .img_logo {
    width: 100%;
    height: 500px;
  }

  .interiores {
    font-size: 25px;
    line-height: 50px;
    font-weight: 900;
  }

  .kate-explicacion {
    font-size: 22px;
  }
}

@media screen and (max-width: 650px) {

  .img_logo {
    width: 100%;
    height: 450px;
  }

  .interiores {
    font-size: 25px;
    line-height: 40px;
    font-weight: 900;
  }

  .kate-explicacion {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {

  .img_logo {
    width: 100%;
    height: 450px;
  }

  .interiores {
    font-size: 25px;
    line-height: 40px;
    font-weight: 900;
  }
}
