mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primera_toolbar {
  background-color: #000000;
  -webkit-box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.84);
  box-shadow: 0px 3px 26px 1px rgba(145,145,145,0.84);
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-icon-button {
  color: white;
  visibility: collapse;
}

.btn_tool {
  height: 30px;
  background-color: transparent;
}

.inicio_class:hover {
  color: #92e2eb;
  cursor: pointer;
  font-size: 13px;
}

.inicio_class {
  font-size: 13px;
  color: #ffffff;
  font-weight: 900;
}

#login-button {
  background-image: linear-gradient(120deg, rgb(0, 229, 255) 0%, rgb(35, 255, 207) 100%);
}

.login_class {
  font-weight: 900;
  font-size: 13px;
}


@media screen and (max-width: 850px) {
  .menu-icon-button {
    visibility: visible;
  }
}



