html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#contenido {
  width: 1000px auto;
  margin: 12% 0 7% 0;
}

.contenido-centrado {
  text-align: center;
}

.titulo_producto {
  font-size: 18px;
  font-weight: 900;
  color: #000000;
}

.explicacion_producto {
  margin-top: 30px;
  font-size: 33px;
  font-weight: 900;
}

.ventajas-producto {
  margin-top: 1%;
  font-size: 22px;
  font-weight: 300;
  color: #575757;
}

.imagenes-kate {
  margin: 3% 10% 0 10%;
}

.imagen {
  height: 50px;
}

.sensor-explicacion {
  margin-top: 10%;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.kate-explicacion {
  margin-top: 7%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.imagenes-kate .columna1 {
  display: flex;
  margin-bottom: 6%;
}

.linea1 {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
}

.imagenes-kate .columna2 {
  display: flex;
  margin-bottom: 3%;
}

.linea2 {
  flex: 1;
  background-color:rgba(181, 181, 181, 0.09);
  padding: 50px 40px 30px 40px;
  border-radius: 10px;
}

.example-spacer {
  flex: 1;
}


.kate-linea {
  margin-bottom: 20%;
}

@media screen and (max-width: 1400px) {
  #contenido {
    margin: 100px 20px 0 20px;
  }

  .titulo_producto {
    font-size: 40px;
  }

  .explicacion_producto {
    font-size: 27px;
  }

  .ventajas-producto {
    font-size: 20px;
  }

  .sensor-explicacion {
    font-size: 24px;
  }

  .kate-explicacion {
    font-size: 17px;
  }
}

@media screen and (max-width: 1050px) {
  #contenido {
    margin: 100px 30px 0 30px;
  }

  .titulo_producto {
    font-size: 40px;
  }

  .explicacion_producto {
    font-size: 27px;
  }

  .ventajas-producto {
    font-size: 17px;
  }

  .imagen {
    height: 60px;
  }

  .sensor-explicacion {
    font-size: 22px;
  }

  .kate-explicacion {
    font-size: 15px;
    line-height: 27px;
  }
}

@media screen and (max-width: 850px) {
  #contenido {
    margin: 100px 30px 0 30px;
  }

  .titulo_producto {
    font-size: 30px;
  }

  .explicacion_producto {
    font-size: 23px;
    margin-top: 25px;
  }

  .ventajas-producto {
    margin-top: 7%;
    margin-bottom: 10%;
    font-size: 15px;
  }

  .imagen {
    height: 90px;
  }

  .imagenes-kate {
    margin: 5% 10% 0 10%;
  }

  .imagenes-kate .columna1 {
    flex-direction: column;
    margin-bottom: 10%;
  }

  .imagenes-kate .columna2 {
    flex-direction: column;
  }

  .linea1 {
    margin-bottom: 20%;
  }

  .linea2 {
    margin-bottom: 20%;
  }
}




