<div id="contenido">
  <div class="contenido-centrado">
    <span class="titulo_producto font2">FUNCIONALIDAD</span>

    <div class="explicacion_producto font2">
      <span>¿Qué hacen que Sani-Ki sea <span class="subrayado">realmente único</span>?</span>
    </div>

    <div class="ventajas-producto font2">
      <span>Las diferentes funcionalidades incorporadas en Sani-Ki convierten el control del aire en algo fácil pero potente y seguro.</span>
    </div>

    <div class="imagenes-kate">
      <div class="imagenes-kate columna1">
        <div class="linea1" data-aos="flip-up" data-aos-duration="1500">
          <img src="assets/icons/smartphone.png">

          <div class="sensor-explicacion font2">
            <span >App móvil</span>
          </div>

          <div class="kate-explicacion font2">
            <span>Tendrás acceso remoto a la calidad del aire en el interior.</span>
          </div>
        </div>

        <span class="example-spacer"></span>

        <div class="linea1" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="200">
          <img src="assets/icons/shield.png">

          <div class="sensor-explicacion font2">
            <span >Perfiles/Grupos</span>
          </div>

          <div class="kate-explicacion font2">
            <span>Agrupa los sensores, obteniendo el control de tus edificios.</span>
          </div>
        </div>

        <span class="example-spacer"></span>

        <div class="linea1" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="400">
          <img src="assets/icons/map.png">

          <div class="sensor-explicacion font2">
            <span >Maps</span>
          </div>

          <div class="kate-explicacion font2">
            <span>Visor integrado con Google Maps para poder localizar por ubicación.</span>
          </div>
        </div>
      </div>



      <div class="imagenes-kate columna2">
        <div class="linea2" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="600">
          <img src="assets/icons/kpi.png">

          <div class="sensor-explicacion font2">
            <span >KPIS y semáforos</span>
          </div>

          <div class="kate-explicacion font2">
            <span>Lista el estado de la calidad del aire y detecta riesgos en tus interiores.</span>
          </div>
        </div>

        <span class="example-spacer"></span>

        <div class="linea2" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="800">
          <img src="assets/icons/big-data.png">

          <div class="sensor-explicacion font2">
            <span >Big Data</span>
          </div>

          <div class="kate-explicacion font2">
            <span>Usa los informes personalizados para mejorar la calidad del aire.</span>
          </div>
        </div>

        <span class="example-spacer"></span>

        <div class="linea2" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="1000">
          <img src="assets/icons/iot.png">

          <div class="sensor-explicacion font2">
            <span >Sensor IOT</span>
          </div>

          <div class="kate-explicacion font2">
            <span>El dispositivo informará de los principales KPIs de Calidad del Aire.</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
