<div id="contenido-centrado">
  <div class="login">
    <div class="titulo font2">
      <img src="assets/KATEWHITE.png" height="100">
    </div>

    <form>
      <div class="control-group">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="example@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="control-group">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field>
      </div>

      <div class="control-group">
        <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field>
      </div>

      <button mat-raised-button class="btn-inicio-sesion font2" routerLink="/iniciar-sesion">Registrarme</button>
    </form>

  </div>
</div>
