<div class="login">
  <div class="titulo font2">
    <img src="assets/KATEWHITE.png" height="100">
  </div>

  <form #formLogin="ngForm">
    <div class="control-group">
      <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="example@example.com"
        [(ngModel)]="usuario.nombre"
        name="nombre"
        [formControl]="nombre" required>
        <mat-error *ngIf="nombre.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="control-group">
      <mat-form-field appearance="outline" style="font-family: Josefin Sans;">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
        [(ngModel)]="usuario.password"
        name="contrasena"
        #contrasena="ngModel" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="ver-contra">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button mat-raised-button class="btn-inicio-sesion font2" (click)="login()">Iniciar sesión</button>

  </form>

  <div class="registro-login font2">
    <label>
      ¿Aún no estás dado de alta?
      <button mat-flat-button mat-dialog-close class="registro-login button font2" (click)="openRegisterDialog()"> Registrate</button>
    </label>
  </div>

</div>


